<html lang="en">

<head>
    <%- include('./similar/head.ejs') %>
</head>

<body>
    <section class="colored-section" id="title">

        <div class="container-fluid">

            <%- include('./similar/nav.ejs') %>

                <%- include('./similar/title.ejs') %>
        </div>

    </section>

    <!-- about us -->

    <section class="white-section" id="features">

        <div class="container-fluid">

            <div class="row">
                <div class="feature-box-col-lg-4">
                    <img class="profile" src="/images/samir.jpeg" alt="profile">
                    <h3 class="feature-title">SAMIR KUMAR</h3>
                    <p>ECE BIT MESRA(2K19)</p>
                    <a class="btn btn-outline-dark" href="mailto:samirwindz007@gmail.com" role="">CONTACT SAMIR</a>
                </div>

                <div class="feature-box-col-lg-4">
                    <img class="profile" src="/images/shreya.jpeg" alt="profile">
                    <h3 class="feature-title">SHREYA PRASAD</h3>
                    <p>MECH BIT MESRA(2K19)</p>
                    <a class="btn btn-outline-dark" href="mailto:shreyabelieber13@gmail.com" role="">CONTACT SHREYA</a>

                </div>

                <div class="feature-box-col-lg-4">
                    <img class="profile" src="/images/sagar.jpeg" alt="profile">
                    <h3 class="feature-title">SAGAR KUMAR</h3>
                    <p>ECE BIT MESRA(2K19)</p>
                    <a class="btn btn-outline-dark" href="mailto:sagarkumar28773@gmail.com" role="">CONTACT SAGAR</a>

                </div>
            </div>


        </div>
    </section>


</body>

<%- include('./similar/footer.ejs') %>

</html>