<html lang="en">

<%- include('./similar/head.ejs') %>

    <body>

        <%- include('./similar/nav.ejs') %>

            <div class="content-not found">
                <h1>Error 404</h1>
                <h2>Page Not Found</h2>
            </div>
    </body>

    <%- include('./similar/footer.ejs') %>

</html>