<html lang="en">

<%- include('./similar/head.ejs') %>


    <body>

        <section class="colored-section" id="title">

            <div class="container-fluid">

                <%- include('./similar/nav.ejs') %>

                    <%- include('./similar/title.ejs') %>

            </div>


        </section>


        <!-- Features -->

        <section class="white-section" id="features">

            <div class="container-fluid">

                <div class="row">
                    <div class="feature-box col-lg-4">
                        <i class="icon fas fa-check-circle fa-4x"></i>
                        <h3 class="feature-title">Our app is easy to use</h3>
                        <p>Download our app and setup in seconds. Our minimalist app is easy to use and your safety is all we care.</p>
                    </div>

                    <div class="feature-box col-lg-4">
                        <i class="icon fas fa-bullseye fa-4x"></i>
                        <h3 class="feature-title">No Charges</h3>
                        <p>Our app is free and always will be. We are committed to work for safety of our fellow Indians. :)</p>
                    </div>

                    <div class="feature-box col-lg-4">
                        <i class="icon fas fa-heart fa-4x"></i>
                        <h3 class="feature-title">Get inspired by Stories</h3>
                        <p>You can read true stories from people who have been harrased, abused , threatened and how they overcame it. </p>
                    </div>
                </div>


            </div>
        </section>


        <!-- Testimonials -->

        <section class="colored-section" id="testimonials">
            <h1> </h1>
            <h1> REVIEWS</h1>

            <div id="testimonial-carousel" class="carousel slide" data-ride="false">
                <div class="carousel-inner">
                    <div class="carousel-item active container-fluid">
                        <h2 class="testimonial-text">This app is so easy to set up and use and I feel a lot safer now while I'm travelling. </h2>
                        <img class="testimonial-image" src="/images/review.jpeg" alt="dog-profile">
                        <em>GEETANJALI, BIT mesra Ranchi</em>
                    </div>
                    <div class="carousel-item container-fluid">
                        <h2 class="testimonial-text">I love reading inspiring stories from women on Suraksha. It just makes me stronger.</h2>
                        <img class="testimonial-image" src="/images/lady-img.jpg" alt="lady-profile">
                        <em>RANDOM GIRL, BIT mesra Ranchi</em>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>

        </section>

    </body>

    <%- include('./similar/footer.ejs') %>

</html>