<!-- Footer -->

<footer class="white-section" id="footer">
    <div class="container-fluid">

        <a class="btn btn-primary" href="mailto:samirwindz007@gmail.com" role="">MAIL US</a>
        <p>2020 SURAKSHA LIMITED</p>
        <p>Website made by Samir (ECE 2K19) , Shreya (MECH 2K19)</p>
        <P> APP made by Sagar (ECE 2K19)</P>
    </div>
</footer>