<!-- Title -->
<div class="row">

    <div class="col-lg-6">
        <h1 class="big-heading">Read stories and be safe with our app</h1>
        <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
    </div>

    <div class="col-lg-6">
        <img class="title-image" src="/images/sam.png" alt="iphone-mockup">
    </div>

</div>